*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(206, 206, 206);
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    height: 700px;
    box-shadow: rgb(149, 149, 149) 5px 5px 20px;
}

.score-container{
    width: 600px;
    height: 100px;
    background-color: rgb(33, 33, 33);
    color:white;
    font-family: cursive;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.game-container{
    width: 600px;
    height: 600px;
    background-color: white;
    display: grid;
    grid-template: repeat(25,1fr)/repeat(25,1fr);
}

.food{
    background-color: rgb(164, 249, 35);
    border-radius: 50%;
}